<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - MealMasterFinal</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="/images/logo.png">

</head>
<body>
    <div class="login-container">
        <img src="/images/logo.png" alt="MealMaster Logo" class="login-logo">

        <h2>Login</h2>
        <form th:action="@{/login}" method="post">
            <div th:if="${message}" class="success-message">
                <p th:text="${message}"></p>
            </div>
            
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required />
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required />
            </div>

            <div>
                <button type="submit">Log in</button>
            </div>

            <div>
                <a href="/register" class="register-link">
                    <button type="button">Create an account</button>
                </a>
            </div>
            

            <div th:if="${param.success}" class="success-message">
                <p>Account created! You can now log in.</p>
            </div>
            


            <div th:if="${param.error}" class="login-error">
                Invalid username or password.
            </div>
            
            <div th:if="${param.logout}" class="login-success">
                You have been logged out.
            </div>
            
        </form>
    </div>
</body>
</html>
